body {
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Roboto', sans-serif;
}

div {
    border: green solid 0px; 
}

div.padded {
    padding: 20px;
}

svg {
    height: 100%;
    width: 100%;
    stroke: black;
    stroke-width: 4px;
}

/* v2 */
div#game {
    position: relative;
    background-color:  #1b2631 ;
    height: 700px;
    overflow: hidden;
}

svg path {
    width: 100%;
    stroke: white;
    stroke-width: 0;
    fill-opacity: 0;
}

#moon {
    position: absolute;
    top: 0px;
    left: 0px;
}

div#rocket {
    position: absolute;
    top: 580px; 
    left: 450px;
}

img#astronaut {
    position: absolute;
    left: -15px;
    top: -100px;
    visibility: hidden;
}

img#moon-img {
    position: absolute;
    left: -30px;
    top: -30px;
}

div.message {
    text-align: center;
    font-weight: bold;
    color: white;
}

div.success {
    background-color: teal;
    display: none;
}

div.fail {
    background-color: firebrick;
    display: none;
}

button {
    width: 90px;
    height: 40px;
}