body {
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Roboto', sans-serif;
}

div {
    border: green solid 1px; 
}

div.padded {
    padding: 20px;
}

div#intro {
    position: relative;
    width: 960px;
}

svg {
    height: 100%;
    width: 100%;
    stroke: black;
    stroke-width: 4px;
}

#game-panel {
    position: relative;
    width: 1000px;
    height: 700px;
    border: 0px #000 solid;
    overflow: hidden;
}

svg path {
    width: 100%;
    stroke: white;
    stroke-width: 0;
    fill-opacity: 0;
}

#moon {
    position: absolute;
    display: inline-block;
    top: 40px; 
    left: 10px;
    width: 10px;
    height: 10px;
    /*border: solid wheat 1px; */
}

#rocket {
    position: absolute;
    display: inline-block;
    top: 580px; 
    left: 450px;
    width: 10px;
    height: 10px;
}

#astronaut {
    position: relative;
    left: 10px;
    visibility: hidden;
}

div.message {
    width: 960px;
    text-align: center;
    position: relative;
    display: block;
    font-weight: bold;
    color: white;
}

div.message2 {
    text-align: center;
    font-weight: bold;
    color: white;
}

div.success {
    background-color: teal;
    /*display: none;*/
}

div.fail {
    background-color: firebrick;
    /*display: none;*/
}

button {
    width: 90px;
    height: 40px;
}